/* THEMES */

body {
  font-family: 'DM Sans';
  width: 100%;
  max-width: 100%;
  background: var(--col-2);
  color: #fff;
}

.w-theme-dark {
}

/* Sizing Media */

@media (min-width: 1000px) {
  .w-row-sz {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .w-row-sz {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .w-row-sz {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .w-row-sz {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 1000px) {
  .w-row-sy {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .w-row-sy {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .w-row-sy {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .w-row-sy {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .w-row-sy {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* CONTAINERS */

.w-scontainer {
  background: var(--col-a);
  border-radius: 15px;
  box-shadow: 5px 5px 3px var(--col-shadow);
}

.w-rounded {
  border-radius: 15px;
}

.w-border-sml {
  border-color: var(--col-3);
  border-style: solid;
}

.w-sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.w-row {
  width: 100%;
}

.w-bold {
  font-weight: 700;
}

.w-nomargin {
  margin: 0px;
}

.w-nopad {
  padding: 0px;
}

a {
  color: var(--col-link);
  text-decoration: none;
}

a:hover {
  color: var(--col-hlink);
}

.w-button {
  background-color: var(--col-3);
  box-shadow: 3px 3px 2px var(--col-shadow);
  color: var(--col-1);
}

.w-overflow-fix {
  max-width: 100%;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.w-qrow {
  background-color: var(--col-3);
}

.w-center-row {
  margin: auto;
}

.w-center-button {
  display: block;
  margin: auto;
}

.w-tos {
  margin: 3em;
}

